table {
    border-collapse: collapse;
    overflow: scroll;
    width: 1110px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Set table width to 100% for responsiveness */
  }
  
  th {
    height: 57px;
  }
  
  tr:nth-child(even) {  
    background-color: #BED8F8;
  }
  
  tr:hover {
    border: 1px solid #32628D;
  }
  
  td {
    text-align: center;
    vertical-align: center;
    padding-top : 28.25px;
    padding-bottom : 28.25px;
  }
  
  tbody{
  }
  
  
  .HistoryTable-container{
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1150px; /* Set your desired width */
    max-height: 700px; /* Set your desired height */
     margin: auto; /* Center horizontally */
    overflow: auto; 
    margin-top: 20px; 
  }
  
  
  .SearchBar{
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding-top : 10px;
    padding-bottom : 10px;
    margin-top: 30px;
    border-radius: 8px; 
    border-color: "black"; 
  }
  
  
  .paginationbuttons{
    margin-top: 10px; 
    justify-content: center;
    margin-right: 5px;
  }